
.card_layout{
    width:50%;
    margin-bottom:50px !important;
    background: #DCDCDC;
    margin:0 auto;
    padding:40px;
    list-style-type:none;
}
#Success, #Created, #Failed{
    margin:0px !important;
    padding:4px 8px;
}
.card_layout div{
    margin-top:5px;
}
.share{
    margin-top:20px !important;
}

.whats_app,.fb,.edit_btn,.pay_btn{
    width:20%;    
    color:#fff;
    padding:10px 0px;
    text-align:center;
}
.whats_app{

    background:#01ce01;
}
.fb{
    background:#337ab7;
}
.edit_btn{
    background:#333;
}
.pay_btn{
    background:#01ce01;
}

@media(max-width:425px){
    .card_layout{
        width:100%;
    }
    .whats_app,.fb,.edit_btn,.pay_btn{
    width:40%;    
}
}
