
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700);

html {overflow-x: hidden;}
body {padding: 0;
    margin: 0;
    font-family: Montserrat;
    background: repeating-linear-gradient(45deg, black, #413d48 100px);
    background-position: center;
    background-size: 107px 108px;
    background-attachment: fixed;
}
	a {text-decoration:none;color:unset;}
div,h1,h2,h3,h4,p,i,a {position:relative;transition:0.4s;}

form,input,textarea,select {font-family:Montserrat;}
:root {
	--color:#848484;
	--color2:#64af35;
}
/*alerts */
div,h1,h2,h3,h4,p,i,a,footer {position:relative;transition:0.4s;}

input,select,textarea,button {font-family: Montserrat;}

a {    text-decoration: unset;
    color: unset;}

input::placeholder {font-size:12px}
.view_counter {width: fit-content;
    max-width: 200px;
    text-align: center;
    font-size: 10px;
    padding: 2px 12px;
    background: #FFC107;
    color: white;
    border-radius: 3px;
    margin: 0 auto;
    top: 0px;}

.alert {     padding: 23px;
    width: fit-content;
    font-size: 13px;
    margin: 0px auto;
    font-weight: 500;
    border-radius: 6px;}
	
.danger {background: #ffd0d082;
    color: #d45050;}
.info {    background: #d0deff82;
    color: #5097d4;
}
.success {background: #90ff6c82;
    color: #1aab2c;
}
.card{width: 400px;
    background: repeating-linear-gradient(45deg, #FF5722, transparent 50%), repeating-linear-gradient(-30deg, #FF9800, #CDDC39 59%);
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    padding: 0px 0px 5px;
    background-size: cover;
    color: white;
	}
	
	.card_content {margin: 18px 24px 10px;
    z-index: 2;
    text-align: center;}
	.card_content img{height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid white;
    padding: 3px;
    background: white;}
	.card_content2 {z-index: 2;
    text-align: left;
    font-weight: 400;
    margin: 0;
    position: relative;
    width: auto;
    text-align: center;}
	.card_content2 h2{font-weight: 600;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0 auto;}
	.card_content2 p{margin: 6px;
    text-transform: capitalize;
    font-size: 12px;
    color: #ffffff;}

.dis_flex {display: block;
    padding: 0px;
    width: auto;
    margin: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000029;
}
.dis_flex .link_btn {border-radius: 2px;
    width: min-content;
    font-size: 11px;
    display: inline-block;
    color: #5a5a5a;
    padding: 15px 4px;
    background: none;
    text-align: center;
    font-weight: 600;

}
.dis_flex .link_btn i {background: darkorange;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 14px;}

.contact_details {
        padding: 17px 20px 33px;
    background: linear-gradient(0deg,#ffffff00 0%,white,#ffffff , white 102%, #ff0202 13%);
    margin: 0px 27px;
    border-radius: 12px;
    box-shadow: 0px -12px 10px 0px #0000001a;


}
.contact_details .contact_d{   display: flex;
    text-align: center;}
.contact_details .contact_d i{ margin: 2px;
    background: #ff8c00;
    color: white;
    height: 17px;
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    width: 16px;
    border: 2px solid white;
    transform: rotate(0deg);}
.contact_details .contact_d p{margin: 0px;
    font-weight: 500;
    color: #313131;
    font-size: 12px;
    max-width: 260px;
    padding: 10px;
    text-align: justify;
}

.dis_flex .share_wtsp {padding: 0pc;
    margin: 10px auto;
    text-align: center;}
.dis_flex .share_wtsp select {}
.dis_flex  .share_wtsp input {margin: 4px 1px;
    font-size: 13px;
    border: 0px;
    padding: 15px;
    outline: none;
    border-radius: 0px;
    background: white;
}
.dis_flex  .share_wtsp input[type=submit]{    background: #47b303;
    color: white;
    font-size: 10px;
    padding: 11px;
    top: 0px;
    position: relative;}
	
/*	.dis_flex:nth-child(5) {
    background: none;
    box-shadow: 0px 0px 0px 0px;
} */
/*.dis_flex:nth-child(7),.dis_flex:nth-child(6) {
    background: none;
    box-shadow: 0px 0px 0px 0px;
} */
.new_dis_flex{
     background: none !important;
    box-shadow: 0px 0px 0px 0px !important;
}

.dis_flex .big_btns {background: white;
    color: #fe5b21;
    border-radius: 3px;
    font-size: 14px;
    padding: 14px;
    display: inline-block;
    text-align: center;
    margin: 3px 0px;
    width: 139px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px #0000002e;

}
.dis_flex .big_btns i{}
.share_wtsp form{  display: flex;
    margin: 14px auto 20px;
    position: relative;
    width: fit-content;
}
.wtsp_share_btn  {background: #e53236;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;}
	.wtsp_share_btn i {}
.dis_flex .social_med {    padding: 2px;
    margin: 21px 0px 32px;
    display: inline-block;}
.dis_flex .social_med i{font-size: 20px;
    width: 19px;
    text-align: center;
    border-radius: 29px;
    padding: 9px 10px;
    background: white;
    color: #fb6321;}

.fa-twitter {background: #149bd2;
    color: white;}
.fa-facebook {background: #5858fd;
    
    color: white;}
.fa-linkedin {background:#007bb6;
color:white}
.fa-youtube {background: #e63e3e;
    color: white;}
.fa-pinterest {background:#cb2027;color:white}
.fa-instagram {background: #fd01bb;
    color: white;}


.card2 {background: white;
    width: 400px;
    margin: 10px auto;
    padding: 0px;
    border-radius: 0px;}
.card2 h1{}
.card2 h2{}
.card2 h3{text-align: left;
    font-size: 20px;
    background: repeating-linear-gradient(45deg, #fd8010, #ffeb3bb8 54%), repeating-linear-gradient(148deg, #FF5722, transparent 59%);
    font-weight: 500;
    letter-spacing: -1px;
    width: -webkit-fill-available;
    border-bottom: 3px solid;
    padding: 10px;
    margin: 0px 0px;
    text-shadow: 0px 0px 7px #585858;
    color: white;}
.card2 form{}
.card2 form input,.card2 form textarea{width: -webkit-fill-available;
    font-size: 14px;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #ff572200;
    border-bottom: 2px solid #ff5722;
    margin: 4px 26px;
    resize: vertical;
    background: #00000005;}
.card2 form input[type=submit]{color: white;
    background: #FF5722;
    text-transform: uppercase;
    font-weight: 900;}

.card2 iframe {margin: 8px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
    width: auto;
    height: 188px;}
	
	.btn_6 {background: #c72d31;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	.btn_5 {background: #4CAF50;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	
	.pro_dis {color: #383737;
    font-size: 13px;
    font-weight: 500;
    margin: 10px;}
	.pro_price {color: #188e1d;
    font-weight: 500;
    margin: 9px;}
	
/*prouct services*/

.product_s {  text-align: center;
    background: #fbf7d9;
    padding: 10px;
    width: 88%;
    border-radius: 7px;
margin: 20px auto;}
	
	#product_services {text-align:center}
.product_s p{font-weight: 600;
    text-transform: capitalize;}	
.product_s img{width: auto;
    max-width: 90%;
    background: white;
    border-radius: 5px;}		


/*image gallery*/
#gallery_new{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.img_gall {text-align: center;
    margin: 10px auto;
    max-height: 400px;
    max-width: 90%;
    vertical-align: text-top;}
.img_gall img {background: white;
    border-radius: 2px;
    max-width: 100%;
    max-height: 300px;}
/* about us*/

#about_us {}
#about_us h3{}
#about_us p{       white-space: pre-line;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    padding: 10px 20px;
    margin: 0;
    text-align: justify;
    }

/*payment */

#payment {}
#payment p{font-size: 19px;
    font-weight: 500;
    color: black;
    width: 77%;
    margin: 8px auto;}
#payment h2{font-size: 12px;
    font-weight: 500;
    color: gray;
    width: 77%;
    margin: 0 auto;}
#payment img{width: 100%;
    border-radius: 20px;
    margin: 10px 0px;}



.menu_bottom {background: repeating-linear-gradient(45deg, #FF5722, #ff9800b3 100px), repeating-linear-gradient(-45deg, #FF9800, transparent 100px);
    width: -webkit-fill-available;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: auto;
}

.menu_container {width: auto;
    text-align: left;
    display: flex;}
 .menu_item{   text-align: center;
    font-weight: 600;
    display: inline-grid;
    font-size: 12px;
    margin: 15px;
    width: 209px;
    white-space: pre;}
 .menu_item i{font-size: 20px;}


/* order page */
 
 #shop_online {
	 display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
 }
 .order_box {width: 142px;
    display: inline-block;
    margin: 6px auto;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000030;
    border: 2px solid #FF9800;
}
 .order_box img{width: 100%;
    max-height: 100px;}
 .order_box h2{padding: 9px 0px 3px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;}
 .order_box h4{padding: 0px 0px 7px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #4CAF50;
}
 .order_box p{padding: 2px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: gray;}
 .btn_buy{background: #FF5722;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 12px;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}







/*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*/
/*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*/
/*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*/
/*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*/
/*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*/
/*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*/
/*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*//*Mobile style*/



@media screen and (max-width:700px){
	.card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
}

.dis_flex .big_btns {
    background: white;
    color: #fe5b21;
    border-radius: 4px;
    font-size: 12px;
    padding: 14px;
    display: inline-block;
    text-align: center;
    margin: 3px 0px;
    width: 124px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px #0000002e;
}

.card2 {
   width:auto;
    margin: 0 0px;
    
}
}
.feedback_list{
		padding: 0px 18px;
	}
	.feedback_list hr{
		margin-top: -20px;
	}
	.feedback_list p{
		font-size:11px;
		margin-bottom: -18px;
	}
	.feedback_list i{
		color:#ffd600;
	}.feedback_list h5{
	margin-bottom: 5px;
	}





