@font-face {
    font-family: "Uniform";
    src: url("Uniform.ttf");
}
html,*{
    margin:0px;
 
}

html{
    overflow-x: hidden;
    font-family:'Uniform';
}
body{

	background:url(background/pgbg2.jpg);
  /*  background: linear-gradient(to right, #649173, #dbd5a4); 
     background: linear-gradient(to right, #c21500, #ffc500);  */
}
.inner_body{
    width:480px;
    height: 715px;
    background:#F2F7FA;
    background-size: cover;
    margin:0 auto;
}
.section{
    width:100%;
}
.company_name{
    background:#FFEC08;
    padding:15px 0px; 
}
.company_name h3{
        color: #000;
        text-align: center;
}
.logo{
    padding: 10px 0px;
}
.logo .image{
width:120px;
/* height: 120px; */
margin: 0 auto;
/* background: #FFEC08; */
border-radius: 15px;
/* padding:10px; */
}

.logo .image img{
width: 100%;
/* height: 120px; */
border:5px solid #FFEC08;
border-radius: 10px;
}

.customer_name{
    background: #FFEC08;
    padding:0.5px 0px;
}
.customer_name h3{
    text-align: center;
    color: #000;
    margin-top:5px;
}
.customer_name p{
    text-align: center;
    color: #000;
    font-style: italic;
    margin-top:0px;
    margin-bottom:5px;
}
.main{
    background:url('background/bg2.jpg');
    margin-bottom:20px;
}

.icons i{
    color:#000 ;
    background:#FFEC08;
    padding:12px;
    text-align: center;
    margin-left: 25px;
    border-radius: 10px;

}

.contact_details .left_col{
    width:80px;
    background: #FFEC08;
    padding:10px 0px;
    float: left;
}
.left_col ul{
    list-style-type: none;
    position: relative;
    left:20px;
    padding-bottom:16px;
}
.left_col li{
        color: #FFEC08;
        background: #000;
        padding:10px 5px;
        border-radius: 50%;
        text-align: center;
        margin-top:20px;
        border:1px solid #FFEC08;
    }

 .right_col{
     width:376px;
     padding:10px 12px;
     float: left;
     background: transparent !important;
 }   
 .right_col ul{
     list-style-type: none;
     color: #000;
     padding-top:5px;
 }
 .number{
     margin-top: 20px;
 }
 .website{
    margin-top: 30px;
}
.email{
    margin-top:40px;
}
.location{
    margin-top:34px;
}
.form{
    clear: both;
    padding: 15px;
}
.select_country{
    float: left;
    margin-left:10px;
}
select{
    padding: 8px;
}
input[type="text"]{
    padding: 8px;
    margin-left:-5px;
}

.whatsapp_btn{
    float: left;
}
.Button{
    background:#51B14D;
    color: #fff;
    border: none;
    padding:10px 20px;
    font-size:13px;
    margin-left:10px;
}
.shadow-buttons{
padding:15px;   
}
.shadow-buttons i{
    padding-right:50px;
    font-size:15px;
}
.btn_1{
    margin-left:10px !important;
   width:221px;
   background:transparent !important;
}
.btn_2{
    width:128px;
    margin-left:5px !important;
}
.shadow-button {
    font-size: 13px;
    color: #000;
    margin:10px 0px;
    border: 1px solid #6A6A6A;
    display: inline-block;
    padding:10px 15px;
    text-decoration:none;
}
.footer{
    background: #FFEC08;
    padding:10px 0px;
    text-align: center;
}
.fa-phone{
    transform: rotate(90deg);
    
}
.footer i{
        color: #FFEC08;
        background: #000;

        border-radius: 25px;
        margin-left:20px;
        padding: 10px;
}
.footer i:nth-child(1){
  /*  margin-left:28px; */
}
.footer .fa-pinterest-p{
    padding:10px 12px !important;
}


.menu_bottom {background: #FFEC08;
    width: -webkit-fill-available;
    text-align: center;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: auto;
}

.menu_container {width: auto;
    text-align: left;
    display: flex;}
 .menu_item{   text-align: center;
    font-weight: 600;
    display: inline-grid;
    font-size: 12px;
    margin: 15px;
    width: 209px;
    white-space: pre;}
 .menu_item i{font-size: 20px;}


/* order page */
 
 #shop_online {
	 display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
 }
 .order_box {width: 142px;
    display: inline-block;
    margin: 6px auto;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000030;
    border: 2px solid #FFEC08;
}
 .order_box img{width: 100%;
    max-height: 100px;}
 .order_box h2{padding: 9px 0px 3px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;}
 .order_box h4{padding: 0px 0px 7px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #4CAF50;
}
 .order_box p{padding: 2px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: gray;}
 .btn_buy{background: #FFEC08;
    color: black;
    padding: 8px 10px;
    text-align: center;
    font-size: 12px;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}


.card2 {
    /*  background:url('background/bg2.jpg'); */
    background: white;
    width: 480px;
    margin: 10px auto;
    padding: 0px;
    border-radius: 0px;
    
    }
    #about_us{
        margin-top:87px;
     
    }
.card2 h1{}
.card2 h2{}
.card2 h3{text-align: left;
    font-size: 20px;
    background: #FFEC08;
    font-weight: 500;
    letter-spacing: -1px;
    width: -webkit-fill-available;
    border-bottom: 3px solid;
    padding: 10px;
    margin: 0px 0px;
    text-shadow: 0px 0px 7px #585858;
    color: black;}
.card2 form{}
.card2 form input,.card2 form textarea{width: -webkit-fill-available;
    font-size: 14px;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #FFEC0800;
    border-bottom: 2px solid #FFEC08;
    margin: 4px 26px;
    resize: vertical;
    background: #00000005;}
.card2 form input[type=submit]{color: black;
    background: #FFEC08;
    text-transform: uppercase;
    font-weight: 900;}

.card2 iframe {margin: 8px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
    width: auto;
    height: 188px;}
	
	.btn_6 {background: #c72d31;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	.btn_5 {background: #4CAF50;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	
	.pro_dis {color: #383737;
    font-size: 13px;
    font-weight: 500;
    margin: 10px;}
	.pro_price {color: #188e1d;
    font-weight: 500;
    margin: 9px;}
	
/*prouct services*/

.product_s {  text-align: center;
    background: #fbf7d9;
    padding: 10px;
    width: 88%;
    border-radius: 7px;
margin: 20px auto;}
	
	#product_services {text-align:center}
.product_s p{font-weight: 600;
    text-transform: capitalize;}	
.product_s img{width: auto;
    max-width: 90%;
    background: white;
    border-radius: 5px;}		


/*image gallery*/

#gallery_new{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.img_gall {text-align: center;
    margin: 10px auto;
    max-height: 400px;
    max-width: 90%;
    vertical-align: text-top;}
.img_gall img {background: white;
    border-radius: 2px;
    max-width: 100%;
    max-height: 300px;}
/* about us*/

#about_us {}
#about_us h3{}
#about_us p{       white-space: pre-line;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    padding: 10px 20px;
    margin: 0;
    text-align: justify;
    }

/*payment */

#payment {}
#payment p{font-size: 19px;
    font-weight: 500;
    color: black;
    width: 77%;
    margin: 8px auto;}
#payment h2{font-size: 12px;
    font-weight: 500;
    color: gray;
    width: 77%;
    margin: 0 auto;}
#payment img{width: 100%;
    border-radius: 20px;
    margin: 10px 0px;}


@media screen and (max-width:700px){
	.card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
}


.card2 {
   width:auto;
    margin: 0 0px;
    
}
}

@media screen and (max-width:450px){
.inner_body{
    width: 100%;
    overflow: hidden;
    margin: 0px;
    z-index: 0;
    background-size: 100% 100%;
    height:782px;
}


.right_col{
width:74%;    
}
.form{
    width:95%;
    margin:0 auto;
    padding:15px 6px;
}

.Button{
    background:#51B14D;
    color: #fff;
    border: none;
    padding:10px 40px;
  
    font-size:13px;
    margin-left:10px;
}
.btn_1{
        margin-left:5px !important;
        width:223px;
}
.btn_2{
    width:100px;
}
.shadow-buttons i{
    padding-right:15px;
}

.footer .fa-facebook{
    padding:10px 13px;
}
  #about_us{
        margin-top:25px;
    }
    

}

@media(max-width:426px){
 .inner_body{
        height:830px;
    }
    .Button{
        padding:10px 33px;
    }
    .shadow-buttons{
        clear:both;
        padding-top:0px;
    }
    .btn_2{
        width:85px;
    }
    
}
@media(max-width:418px){
    .right_col{
        width:72%;
    }
    .right_col ul{
        padding-left:15px;
    }
   .select_country {
    float: left;
    margin-left: 10px;
    width: 65%;
}
select {
    height: 36px;
    width: 20%;
    padding:4px;
}
input[type="text"] {
    width: 76%;
    height: 32px;
    margin-left: -5px;
    padding:0px;
}

.whatsapp_btn {
    float: left;
    width: 28%;
    height:36px;
    background:#51B14D;
    text-align:center;
    
}
.Button{
    margin-left:6px;
    padding:0px;
    margin-top:8px;
}

.btn_1 {
    margin-left: 1px !important;
    width: 53%;
}
.btn_2{
    width:19%;
    margin-left:2px !important;
}

}

@media screen and (max-width:390px){
    
.inner_body{
    width: 100%;
    overflow: hidden;
    margin: 0px;
    z-index: 0;
    background-size: 100% 100%;
    height:782px;
}

.icons i{
    margin-left:17px;
}
.right_col{
width:70%;    
}



.footer i{
    margin-left:5px;
}
.footer .fa-facebook{
    padding:10px 13px;
}
  #about_us{
        margin-top:25px;
    }
    
}



@media(max-width:375px){
 .form{
     width:98%;
 }
.contact_details .left_col {
    width: 45px;
        }
        .left_col ul{
            padding-left:5px;
        }
        .right_col {
    width: 80%;
}
}

@media(max-width:345px){
    .inner_body{
            height:845px;
    }
    .right_col {
    width: 75%;
}
}

@media(max-width:335px){
 .inner_body {
    height: 806px;
}
 .form{
     width:98%;
 }
    .shadow-buttons {
       padding: 10px;
}
.shadow-buttons i {
    padding-right: 4px;
}
.btn_2{
    width:18%;
}
}



.feedback_list{
		padding: 0px 18px;
	}

    .feedback_list i {
    color: #ffd600;
}
.feedback_list h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.feedback_list p {
    font-size: 11px;
    margin-bottom: 10px;
}
.feedback_list hr {
    margin-top: 5px;
}
.Specialities{
    padding-bottom: 10px;
}

.special_list li{
   line-height:1.8;
}
