@font-face {
    font-family: "Uniform";
    src: url("Uniform.ttf");
}
*{
    margin: 0;
}
html{
    overflow-x: hidden;
    font-family:'Uniform';
}
body{
    background: snow;
}
.card{
    width:480px;
    height: 900px;
    background-size: cover;
    margin:20px auto;
    background-image: url('background/bg5.png');
    background-size:cover ;
    color: #F1F2F4;
   border-radius: 0px 0px 15px 15px;
    box-shadow: -10px 0px 40px  0px #333;
    
}
.header{
    width:100%;
    height:80px;
    padding-top:10px;
    border-radius:0px 0px 100px 180px;
    margin-bottom:-20px;
}

.bussiness_details{
    width: 80% !important;
    height: 180px;
    margin: 0 auto;
   
    color: #00265c;
   
    padding:25px 0px;
    
}
/* .info-col-left{
    width:40%;
    float: left;
}
.info-col-right{
    width:50%;
    float: left;
} */

.company_logo{
    width: 130px;
    height:130px;
    margin: 0 auto;
    border-radius: 50%;
   
}
.company_logo img{
    width:100%;
    height: 100%;
    border: 2px solid #00265c;
    border-radius:50%;

}

.bussiness_details .company_info{
    text-align: center;
    margin-top:17px;
}

.bussiness_details .line{
    width:80px;
    border:1px solid #00265c;
    margin:10px auto;
}
.bussiness_details .company_info h5{
    font-size:18px;
    font-weight: 400;
}
.icons{
    margin:20px 0px;
}
.icons_list{
    padding: 10px 0px;
    max-width: 75%;
    margin: 0 auto;
}
.icons i{
    color:#F1F2F4 ;
    background:#1b4793;
    padding:12px;
    text-align: center;
    margin-left: 25px;
    margin-top:10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px snow;
}
.section{
width:100%;
}
.contact_details{
    width:380px;
    margin:0 auto;
    height: 300px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px snow;
    clear: both;
    background: #1b4793;
}
.left_col_demo_2{
    width:30px;
    float: left;
    padding:10px;
    padding-bottom:0px !important;
    
}
.left_col_demo_2 ul{
    list-style-type: none;
    position: relative;
    padding-left:0px !important;
}
.left_col_demo_2 li{
    width: 20px;
    color: #F1F2F4;
    box-shadow: 0px 0px 5px #333;
    border-radius: 50%;
    text-align: center;
    margin-top:22px;
    padding: 10px;
    border:1px solid #F1F2F4;
    position: relative;
    left:10px;
}

/* .left_col_demo_2 li:nth-child(1){
    margin-left:3px;
}
.left_col_demo_2 li:nth-child(4){
    margin-left:3px;
} */

.right_col_demo_2{
    width:330px;
    padding:10px 0px;
    float: left;
}   
.right_col_demo_2 ul{
    list-style-type: none;
    color: #F1F2F4;
    padding-top:5px;
}
.number{
    margin-top: 20px;
}
.website{
   margin-top: 33px;
}
.email{
   margin-top:45px;
}
.location{
   margin-top:34px;
}
.form_section{
    width:440px;
    margin:0 auto;
}
    .form{
        clear: both;
        padding: 15px;
    }
    .select_country{
        float: left;
        margin-left:25px;
        box-shadow: 0px 0px 5px snow;
    }
    select{
        padding: 8px;
        border-radius: 5px 0px 0px 5px;
        border-color:#ECDFE3;
        background: #ECDFE3;
    }
    input[type="text"]{
        padding: 8px;
        margin-left:-5px;
        border-radius: 0px 5px 5px 0px;
        border:2px solid #ECDFE3;
        outline: none;
        background: #ECDFE3;

    }
    
    .whatsapp_btn{
        float: left;
    }
    .Button{
        background:#51B14D;
        color: #fff;
        border: none;
        padding:10px 25px;
        font-size:13px;
        margin-left:10px;
        border-radius:5px;
        box-shadow: 0px 0px 5px #333;
    }
    .shadow-buttons{
    padding:15px;   
    }
    .shadow-buttons i{
        padding-right:10px;
        font-size:15px;
    }
    .btn_1{
        margin-left:25px !important;
       width:222px;
       border-radius: 5px;
    }
    .btn_2{
        width:70px;
        margin-left:5px !important;
       border-radius: 5px;

    }
    .shadow-button {
        font-size: 13px;
        color: #F1F2F4;
        margin:10px 0px;
        border: 2px solid #ECDFE3;
        display: inline-block;
        padding:10px 15px;
        text-decoration:none;
        text-align: center;
        background: #1b4793;
        box-shadow: 0px 0px 5px snow;
    }

    .footer{
        width:90%;
        margin: 0 auto;
      
    } 
    .footer i{
        background: #1b4793;
        padding:12px;
        border-radius: 25px;
        margin-left:10px;
        box-shadow: 0px 0px 5px snow;
    }
    .footer .fa-pinterest-p{
        padding: 13px 15px;
    }
    .footer_bottom{
        width:100%;
        background: #76abdd;
        padding:15px 0px;
        box-shadow: 0px -5px 5px snow;
        margin-bottom: 20px;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:15px ;
        text-align:center;
    
    }

    .fa-phone{
        transform: rotate(90deg);
    }
    
  /*  anamika*/ 
    
#gallery_new{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}    
    
.menu_bottom {background: #76abdd;
    width: -webkit-fill-available;
    text-align: center;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: auto;
}

.menu_container {width: auto;
    text-align: left;
    display: flex;}
 .menu_item{   text-align: center;
    font-weight: 600;
    display: inline-grid;
    font-size: 12px;
    margin: 15px;
    width: 209px;
    white-space: pre;}
 .menu_item i{font-size: 20px;}


/* order page */
 
 #shop_online {
	 display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
 }
 .order_box {width: 142px;
    display: inline-block;
    margin: 6px auto;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000030;
    border: 2px solid #76abdd;
}
 .order_box img{width: 100%;
    max-height: 100px;}
 .order_box h2{padding: 9px 0px 3px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;}
 .order_box h4{padding: 0px 0px 7px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #4CAF50;
}
 .order_box p{padding: 2px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: gray;}
 .btn_buy{background: #76abdd;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 12px;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}


.card2 {background: white;
    width: 480px;
    margin: 10px auto;
    padding: 0px;
    border-radius: 0px;
    
    }
   
.card2 h1{}
.card2 h2{}
.card2 h3{text-align: left;
    font-size: 20px;
    background: #76abdd;
    font-weight: 500;
    letter-spacing: -1px;
    width: -webkit-fill-available;
    border-bottom: 3px solid;
    padding: 10px;
    margin: 0px 0px;
    text-shadow: 0px 0px 7px #585858;
    color: white;}
.card2 form{}
.card2 form input,.card2 form textarea{width: -webkit-fill-available;
    font-size: 14px;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #76abdd00;
    border-bottom: 2px solid #76abdd;
    margin: 4px 26px;
    resize: vertical;
    background: #00000005;}
.card2 form input[type=submit]{color: white;
    background: #76abdd;
    text-transform: uppercase;
    font-weight: 900;}

.card2 iframe {margin: 8px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
    width: auto;
    height: 188px;}
	
	.btn_6 {background: #c72d31;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	.btn_5 {background: #4CAF50;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	
	.pro_dis {color: #383737;
    font-size: 13px;
    font-weight: 500;
    margin: 10px;}
	.pro_price {color: #188e1d;
    font-weight: 500;
    margin: 9px;}
	
/*prouct services*/

.product_s {  text-align: center;
    background: #fbf7d9;
    padding: 10px;
    width: 88%;
    border-radius: 7px;
margin: 20px auto;}
	
	#product_services {text-align:center}
.product_s p{font-weight: 600;
    text-transform: capitalize;}	
.product_s img{width: auto;
    max-width: 90%;
    background: white;
    border-radius: 5px;}		


/*image gallery*/
#gallery_new{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.img_gall {text-align: center;
    margin: 10px auto;
    max-height: 400px;
    max-width: 90%;
    vertical-align: text-top;}
.img_gall img {background: white;
    border-radius: 2px;
    max-width: 100%;
    max-height: 300px;}
/* about us*/

#about_us {}
#about_us h3{}
#about_us p{       white-space: pre-line;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    padding: 10px 20px;
    margin: 0;
    text-align: justify;
    }

/*payment */

#payment {}
#payment p{font-size: 19px;
    font-weight: 500;
    color: black;
    width: 77%;
    margin: 8px auto;}
#payment h2{font-size: 12px;
    font-weight: 500;
    color: gray;
    width: 77%;
    margin: 0 auto;}
#payment img{width: 100%;
    border-radius: 20px;
    margin: 10px 0px;}


@media screen and (max-width:700px){
	.card {
    width: -webkit-fill-available;
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
    background-size: 100% 100%;
}


.card2 {
   width:auto;
    margin: 0 0px;
    
}
}
@media screen and (max-width:450px){
.card{
    width: 100%;
    overflow: hidden;
   
    height:938px;
}
.icons_list{
    padding: 10px 0px;
    max-width: 85%;
    margin:0 auto;
}
.contact_details{
    width:100%;    
 }
 .left_col_demo_2{
     width:10%;
 }
 .right_col_demo_2{
     width:82%;
 }


.form_section{
    width:100%;
    margin:0 auto;
    padding:15px 0px;
}
.form{
    width:100%;
    padding: 15px 0px;
}
.select_country {
    float: left;
    
    width: 55%;
}
select {
    height: 36px;
    width: 20%;
    padding:4px;
}
input[type="text"] {
    width: 76%;
    height: 32px;
    margin-left: -5px;
    padding:0px;
}


.Button{
    background:#51B14D;
    color: #fff;
    border: none;
    padding:10px 40px;
  
    font-size:13px;
    margin-left:10px;
}
.btn_1 {
    width: 48%;
    margin-left:10px !important;
}
.btn_2{
    width:24%;
    margin-left:0px !important;
}
.shadow-buttons i{
    padding-right:15px;
}

.footer .fa-facebook{
    padding:10px 13px;
}
  #about_us{
        margin-top:25px;
    }
}


@media(max-width:418px){

.select_country{
    margin-left:20px;
}
.shadow-buttons{
     margin-left:10px !important;
     padding-left:0px !important;
     
 }
 .btn_1{
     margin-left:9px !important;
 }
 .btn_2{
     width:25%;
 }
}   

@media(max-width:390px){
    
.inner_body{
    width: 100%;
    overflow: hidden;
    margin: 0px;
    z-index: 0;
    background-size: 100% 100%;
    height:782px;
}
.icons_list{
    padding: 10px 0px;
    max-width: 87%;
    margin: 0 auto;
}
.icons i{
    margin-left:17px;
}
.right_col{
width:67%;    
}
.select_country{
    margin-left:14px;
}
 .btn_1{
     margin-left:0px !important;
     width:47%;
 }
.shadow-buttons{
    padding-left:4px !important;
}

.footer i{
    margin-left:2px;
}
.footer .fa-facebook{
    padding:10px 13px;
}
  #about_us{
        margin-top:25px;
    }
    
}

@media(max-width:375px){
 
 .form{
     width:100%;
 }
 .select_country{
     margin-left:8px;
 }
 
 .shadow-buttons{
     padding-left:0px !important;
    margin-left:6px !important;
 }
 .btn_2{
     width:29%;
 }

}

@media(max-width:345px){
    .inner_body{
            height:845px;
    }
    .icons_list{
        max-width:90%;
    }
    .icons i{
       margin-left: 4.5%;
    }
}

@media(max-width:335px){
 
 .form_section{
     width:100% !important;
 }
    .shadow-buttons {
       padding-left: 0px;
       
}
.shadow-buttons i {
    padding-right: 4px;
}
.select_country{
    margin-left:6%;
}
.Button{
    padding:10px 19px;
}
.shadow-buttons{
    margin-left: 5% !important;
}
.btn_2{
    width:18%;
}

.footer{
    width:100%;
}

}


.feedback_list{
		padding: 0px 18px;
	}

    .feedback_list i {
    color: #ffd600;
}
.feedback_list h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.feedback_list p {
    font-size: 11px;
    margin-bottom: 10px;
}
.feedback_list hr {
    margin-top: 5px;
}

.Specialities{
    padding-bottom: 10px;
}

.special_list li{
   line-height:1.8;
}
 #about_us{
        margin-top:30px;
    }

