


@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700);

html {overflow-x: hidden;}
body {padding:0;margin:0;font-family:Montserrat;background:#f1f1f1;}
	a {text-decoration:none;color:unset;}
div,h1,h2,h3,h4,p,i,a {position:relative;transition:0.4s;}

form,input,textarea,select {font-family:Montserrat;}
:root {
	--color:#848484;
	--color2:#64af35;
}
/*alerts */
div,h1,h2,h3,h4,p,i,a,footer {position:relative;transition:0.4s;}

input,select,textarea,button {font-family: Montserrat;}

a {    text-decoration: unset;
    color: unset;}

input::placeholder {font-size:12px}

/*scroll bar*/
	/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.edit_amount {background: white;
    color: black;
    width: 90%;
    border: 1px solid gray;
    padding: 4px 0px;
    text-align: center;outline:none;}
.alert_full_page {
	height: -webkit-fill-available;
    width: -webkit-fill-available;
    color: black;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.Active {background: #01ce01;
      color: white;
    position: relative;
    border-radius: 5px;
    padding: 3px 14px 4px;
    }
	
.Inactive {background: #e45c5c;
    color: white;
    position: relative;
    border-radius: 5px;
    padding: 5px 14px 7px;
    top: 8px;}	
.alert_full_page h3{}
 .next_btn {      min-width: 100px;
    width: fit-content;
    background: #015fb1;
    padding: 12px 20px;
    color: white;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000026;
    text-align: center;
}

.alert {   padding: 23px;
    width: fit-content;
    font-size: 13px;
    margin: 0px auto;
    border-radius: 6px;}
	
.danger {background: #ffd0d082;
    color: #d45050;}
.info {    background: #d0deff82;
    color: #5097d4;
}
.success {background: #cdfabf82;
    color: #46a052;
}	
.clip_path1 {
	clip-path: polygon(100% 0, 40% 100%, 0 100%, 0 58%);
    -webkit-clip-path: polygon(100% 0, 40% 100%, 0 100%, 0 58%);
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #088bb3;
	background: repeating-linear-gradient(45deg, #3F51B5, transparent 23%), repeating-linear-gradient(-74deg, #9C27B0, transparent 19%), repeating-linear-gradient(5deg, #E91E63, transparent 31%);
	top:0;
	left:0;
}



header {background: white;
    width: -webkit-fill-available;
    padding: 0;
    overflow: hidden;
    position: sticky;
    display: flex;
    padding: 0px;
    top: 0;
    z-index: 22;
    box-shadow: 0px 0px 10px 0px #0000001a;
}
header .logo{    display: flex;
    margin: 0px 20px;}
header .logo h3{
    margin: 18px -1px 0px;
    font-size: 18px;
    
}
header .logo img{width: 20%;
    height: 85%;
    padding: 10px;
}

	
header .head_txt {display: flex;
    position: absolute;
    right: 80px;}
header .head_txt h3{	/**font-weight: 400;
    padding: 20px;
    cursor: pointer;
    top: -10px;
    color: #616161;
    font-size: 13px;
    letter-spacing: -0.4px;**/	padding-right: 25px;    cursor: pointer;    color: #616161;    font-size: 13px;
	}
	header .head_txt h3 img {border-radius: 50px;
    width: 43px;
    position: relative;
    top: -13px;
    border: 2px solid #c5c5c5;
}


	
header .head_txt h3:hover {
	transition:0.3s;color:black;
}	

.btn_3 {background: #8BC34A;
    color: white;
    padding: 7px 10px;
    width: fit-content;
    margin: 1px auto;
    font-size: 12px;
    border-radius: 3px;}

.mobile_home {display:none;}



.login {width: 40%;
    background: white;
    height: auto;
    margin: 7% auto;
    box-shadow: 0px 0px 10px 0px #00000024;
    border-radius: 12px;
    padding: 50px;}
.login h1:after {
        content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background: #ae2e95;
    bottom: -10px;
    border-radius: 16px;
    left: 7px;
}

.login h1{margin: 0;
    font-weight: 500;
    color: #ab328f;
    letter-spacing: -2px;}
.login p{margin: 33px 7px 20px;
    font-size: 10px;
    color: #b43c9e;}
.login form{margin: 0px 0px 5px;}
.login form a{font-size: 10px;
    margin: 9px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    color: black;
    padding: 7px;
    border-radius: 19px;}
.login form input{width: -webkit-fill-available;
    border: 0px;
    padding: 12px 30px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    background: #d4d4d438;
    outline: none;
}
.login form input[type=submit]{background: #2196F3;
    color: white;
    border: 0px;
    padding: 10px;}
#register {display:none;}

.main2 {
margin: 13px;
    background: white;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px #80808036;
    border-radius: 10px;	
}
.btn_create {
	       width: fit-content;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 500;
    font-size: 13px;
    background: #4CAF50;
    display: inline-block;
}


.my_account_form {    padding: 0px 30px;}
.my_account_form h3{font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-bottom: 2px solid #636363;
    padding: 0px 10px 10px;
    width: fit-content;
    margin: 14px auto 21px;}
.my_account_form img {  width: 100px;
    max-height: 150px;
    border: 2px solid #00000024;
    margin: 10px auto 20px;
    border-radius: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 10px);}

.input_area p{position: absolute;
    font-size: 10px;
    top: -28px;
    left: 0px;}
.input_area {    width: 300px;
    padding: 0px;
    margin: 17px 10px;
    display: inline-block;
    border: 1px solid #0000002b;
    background: #0000000a;
    border-radius: 4px;}
.input_area input {background: transparent;
    border: 0px;
    padding: 10px;
    margin: 0px;
    width: -webkit-fill-available;
    
}
.input_area textarea{    background: none;
    width: -webkit-fill-available;
    border: 0px;
    min-height: 200px;white-space: pre;}


.container {    background: white;
    margin: 15px;
    padding: 0px 0px 35px;
    min-height: -webkit-fill-available;
    box-shadow: 0px 0px 10px 0px #0000001f;
    height: 600px;
    overflow: auto;
}

.container h2 {color: #03A9F4;
    margin: -6px 0px 5px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1px;}

 .card_row{background: linear-gradient(45deg, #3F51B5, #03A9F4);
    margin: 0px;
    padding: 0px;
    display: flex;
    box-shadow: 0px 0px 10px 0px #0000001f;
    width: -webkit-fill-available;
    color: white;
    font-weight: 300;
    position: sticky;
    top: 0;
    z-index: 2;}
 .card_row p{    width: -webkit-fill-available;
    text-align: center;
    padding: 7px;
    margin: 0px;
    font-size: 13px;}
	
	.card_row2 {display: flex;}
	.card_row2 p{ margin: 0px;
    width: -webkit-fill-available;
    text-align: center;
    padding: 2px;
    font-size: 12px;
    font-weight: 500;
    overflow: auto;}
	.card_row2 p i{width: auto;
    display: inline-block;
    border: 1px solid #dedede;
    padding: 6px 8px;
    font-weight: 500;
    margin: 0px 4px;border-radius:4px;}

.container2 {
    background: white;
    margin: 15px;
    padding: 0px 0px 35px;
    min-height: 500px;
    box-shadow: 0px 0px 10px 0px #0000001f;
    height: auto;
}
.container2 h1 {
  background: #03A9F4;
    color: white;
    margin: 0;
    font-weight: 400;
    padding: 10px 3%;
    font-size: 20px;
}

.container2 form {}
.container2 form h3{}
.container2 form input{}
.container2 .btn_payment{background: #2196F3;
    color: white;
    padding: 13px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
}

.container2 .btn_payment:hover{transition: 0.4s linear;
    background: #4CAF50;cursor:pointer}


.main3 {
margin: 13px;
    background: white;
    padding: 50px;
    min-height: 409px;
    box-shadow: 0px 0px 10px 0px #80808036;
    border-radius: 10px;	
}
.main3 h2{    margin: 11px 0px;
    font-weight: 400;
    font-size: 24px;}
.main3 h3{font-weight: 500;}

.main3 h1{  font-weight: 400;
    margin: 13px 0px;
    font-size: 25px;
    text-align: center;}
.main3 form {text-align: center;}
.main3 form .input_box{border: 1px solid #00000059;
    width: 40%;
    margin: 10px auto;
    border-radius: 3px;
    background: #00000000;}
.main3 form .input_box p { padding: 0px;
    font-size: 9px;
    color: #000000d6;
    position: absolute;
    top: -14px;
    background: white;
    width: fit-content;
    left: 16px;}
	.main3 form #showPreviewLogo {max-width: 200px;
    height: 101px;
    border: 1px solid #00000069;
    margin: 0 auto;
    position: relative;
    left: auto;
    border-radius: 6px;
    transform: unset;
    width: auto;}
	
	
	.main3 form img {   width: auto;
    max-width: 193px;
    height: 150px;
    border: 0px;
    margin: 0 auto;
    position: relative;
    border-radius: 4px;}
	
	.delImg {position: absolute;
    top: 3px;
    right: 3px;
    background: #f6364a;
    color: white;
    padding: 7px 8px;}
	.fa-trash-o {}
	
	.divider {    background: white;
    width: 200px;
    padding: 10px;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px #0000002b;
    margin: 5px;
    border-radius: 5px;}
	
	
	.main3 form .divider .input_box {width: -webkit-fill-available;}
	.divider .num {  width: fit-content;
    background: #5097d4;
    color: white;
    padding: 5px 10px;
    position: relative;
    z-index: 5;
    font-size: 10px;
    left: -6px;
    top: -6px;
    border-radius: 3px;}
	
		.divider2 {  background: transparent;
    width: 173px;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px #00000026;
    margin: 5px;}
	.main3 form .divider2 .input_box {width: -webkit-fill-available;}
	.main3 form .divider2 .input_box input{width: -webkit-fill-available;}
	.divider2 .num {  width: fit-content;
    background: #5097d4;
    color: white;
    padding: 5px 10px;
    position: relative;
    z-index: 5;
    left: -6px;
    top: -6px;
    border-radius: 0px;}
	
	.divider2 img {    max-width: 100px !important;
    max-height: 100px;}
	
.main3 form .input_box input,.main3 form .input_box textarea,.main3 form .input_box select{width: -webkit-fill-available;
    height: auto;
    padding: 15px 15px;
    border: 0px;
    outline: none;font-weight: 500;
    background: #00000003;    resize: vertical;}
.main3 form   input[type=submit]{   background: #5097d4;
    border: 0px;
    padding: 14px 24px;
    margin: 10px auto;
    color: white;
    border-radius: 43px;
    font-size: 16px;
    font-weight: inherit;
    position: relative;}
	
.image_err {padding: 10px;
    background: #ffd2d2;
    color: #c55a5a;
    list-style-type: decimal-leading-zero;
    font-size: 10px;
    margin: 5px 10px;
    width: fit-content;
    border-radius: 5px;}

.progress {   background: #1bb54b1a;
    width: -webkit-fill-available;
    border: 1px solid #1bb54b29;
    overflow: hidden;
    height: 12px;
    border-radius: 10px;}
.progress .progress_bar p {margin: 0;
    position: absolute;
    right: 0;
    background: white;
    font-weight: 700;
    font-size: 10px;
    color: green;}
.progress .progress_bar {background: #1bb54b96;
    width: 10px;
    height: 16px;}

.block_screen_loading {display:none;position: fixed;
    z-index: 999;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #00000030;
    top: 0;
    left: 0;}
.block_screen_loading .loader{ width: 50px;
    height: 50px;
    border: 10px solid white;
    border-bottom: 10px solid black;
    border-radius: 100%;
    margin: 21% auto;
    animation: loader 2s linear infinite;}

@keyframes loader {
	0% {transform:rotate(0deg)}
	33% {transform:rotate()}
	76% {transform:rotate()}
	100%{transform:rotate(360deg)}
}

.theme {   width: fit-content;
    display: inline-block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid transparent;
    padding: 11px;
    border-radius: 35px;}
.theme:hover {
	border: 2px solid #ffb76c;
	transition:0.3s;
}
.theme img{width: 100px;
    border: 17px solid #23434e;
    height: 194px;
    border-radius: 18px;
    margin: 0 auto;
    border-left: 5px solid #23434e;
    border-right: 5px solid #23434e;}
.selected {background: #01ce01;
    color: white;
    width: fit-content;
    padding: 10px;
    font-weight: 500;
    margin: 5px;
    border-radius: 5px;
    font-size: 10px;
    position: absolute;
    top: 0;
    z-index: 6;
    left: -10px;}	
	
	.sug_alert {text-align: center;
    font-size: 12px;
    color: #bf0707;}
	.btn_holder {top: 5px; }
	.btn_holder .skip_btn,.back_btn {display:inline-block}
	.btn_holder .skip_btn{ left: 100%;
    transform: translate(-229%, 2px);}
	.skip_btn {background: #5097d4;
    color: white;
    padding: 7px 12px;
    font-size: 12px;
    width: fit-content;
    border-radius: 5px;}
	 .back_btn{    background: #000000c7;
    color: white;
    padding: 8px 16px;
    width: fit-content;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 7px;
    font-size: 12px;}
	
	.active {}
	#Success,#Created,#Failed {background: #01ce01;
    color: white;
    padding: 6px 0px 0px;
    border-radius: 5px;
    height: 24px;
    margin: 3px 0px;}
	#Created {background:#eac22e}
	#Failed { background: #ce0101a6;}
	.card_status1,.card_status2 ,.card_status3 {    clip-path: polygon(0 0, 100% 0, 100% 100%); -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    width: 100px;
    height: 100px;
    background: #f9aa79;
    color: white;
    position: absolute;
    top: 0;
	z-index:888;
    right: 0;
    box-shadow: 0px 0px 10px 0px #0000002e;
}
.card_status1 p,.card_status2 p,.card_status3 p {transform: rotate(45deg);
    margin: 12px 31px 33px 44px;
    font-weight: 600;}
	.card_status2 {background: #01ce01;}
	.card_status3 {background: red;}
	
.user_details {width: 381px;
    box-shadow: 0px 0px 10px 0px #6b6b6b24;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    padding: 0px 0px 14px;
    margin: 10px
}	
	.user_details h3 {font-weight: 400;
    text-align: center;
    background: #2196F3;
    padding: 8px;
    margin: 0px;
    letter-spacing: -1px;
    color: white;}
.flex_box {display:flex}	
.flex_box p{width: -webkit-fill-available;
    margin: 4px 20px;
    font-size: 12px;
    padding: 5px 10px;
    color: gray;cursor:pointer;}

.flex_box:hover p {
	color:black;
}	
 .gray{background: #efefef;}	
 
 	
	#alert_display_full {
		display:none;
		top: 0;
    position: fixed;
    background: #000000b8;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    z-index: 99999;
    left: 0;
}
#alert_display_full h3 {    margin: 7px auto;
    width: fit-content;
    font-weight: 500;
    color: white;
    font-size: 25px;}
#loader1 {width: 50px;
    height: 50px;
    border: 10px solid #ffffff;
    border-radius: 100%;
    margin: 16% auto 0px;
    border-bottom: 10px solid gray;
    position: relative;
    animation: loader1 3s linear infinite;
}


@keyframes loader1 {
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}


/*pagination*/
	.pagination {
      display: flex;
    margin: 0px auto 10px;
    position: relative;
    background: white;
    width: fit-content;
    text-align: center;
    padding: 11px;
    
	}
	.page_btn {background: #b1b1b1;
    margin: 2px;
    padding: 7px 15px;
    color: white;
    font-size: 17px;
    box-shadow: 0px 0px 10px 0px #00000038;
    border-radius: 3px;
    font-weight: 600;}
	.pagination .active{   background: #5097d4;}
	.share_wtsp form{    display: flex;
    margin: 14px auto 20px;
    position: relative;
    width: fit-content;}
	.wtsp_share_btn  {background: #1aab2c;
    font-size: 12px;
    padding: 10px;cursor:pointer}
	.wtsp_share_btn i {}
	
	
	.share_box .close { font-size: 47px;
    text-align: end;
    padding: 0px 10px;
    font-weight: 400;
    color: red;}
	
	#whatsapp2 {background:#1aab2c;color:white}
	.fa-comment-dots	 {background: #1cbdff;
    color: white;}
	.share_box .close i {}
	.share_box {display:none;background: white;
    color: black;
    position: fixed;
    top: 10%;
    width: 351px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #00000033;
    z-index: 3;
    border-radius: 11px;}
	.shar_btns {    width: 100px;
    text-align: center;
    display: inline-block;}
	.shar_btns i{padding: 10px;
    border-radius: 8px;}
	.shar_btns p{font-size: 10px;}
	/*customer card preview*/
	
	
	#qr_code_d {left: 50%;
    position: relative;
    transform: translate(-50%, 0px);
    margin: 0px 0px 24px;
}




/*card_manager*/
/*dashboard  csss*/

.dashboard {
    display: grid;
    grid-template-columns: 25% auto;
    min-height: 570px;}
.dash_side1 {color: #9E9E9E;
    background: white;
    font-size: 13px;
    box-shadow: 0px 0px 10px 0px #3e3e3e1f;
}

.dash_side1 .account_details{background: gray;
    border-radius: 0px;
    
    height: 150px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    position: relative;}
.dash_side1 .account_details img {    width: 83px;
    border-radius: 100px;
    margin: 8px;
    left: 0%;
    position: relative;}
.dash_side1 .account_details p{margin: 2px 10px;
    font-size: 11px;}
.dash_side1 .dash_link{    margin: 20px 10px;}
.dash_side1 .dash_link li{border: 0px solid;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    border-radius: 0px;
    list-style-type: none;}
	.dash_side1 .dash_link li.active {
		background: #03A9F4;
    color: white;
    border-radius: 16px;
	}
	
	.dash_side1 .dash_link li:hover {
		background: #03A9F4;
    color: white;
    border-radius: 16px;transition:0.3s;
	}
.dash_side2 {
    padding: 25px 0px 0px 20px;
}
.dash_side2 .das_box{ background: white;
    width: 128px;
    margin: 10px;
    height:100px;
   /* padding: 19px 21px;*/
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    color: #607D8B;
    font-size: 13px;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px #00000014;

}
.dash_side2 .das_box h3 {}
.dash_side2 .das_box i {}
.dash_side2 .das_box p {font-weight: 500;}
.dash_side2 h2{text-align: center;
    color: gray;
    margin: 0px;
    font-weight: 400;
    font-size: 20px;}
.dash_side2 h1{}
.dash_side2 h3{}

/*dashboard  csss end */
/*Wallet*/

.wallet_main {background: white;
    padding: 10px 0px;
    min-height: 500px;}
.wallet_main .wallet_side1{    width: 28em;
    display: inline-block;
    padding: 2em;
    margin: 10px;}
.wallet_main .wallet_side1 h2{font-weight: 300;
    color: #636363;}
	.wallet_main .wallet_side1 p i {    font-size: 25px;
    margin: 10px;
    background: #4fbd4f;
    color: white;
    padding: 9px 14px 5px;
    border-radius: 20px;}
.wallet_main .wallet_side1 form{}
.wallet_main .wallet_side1 form input{border: 1px solid transparent;
    outline: none;
    border-bottom: 2px solid #2196F3;
    width: 200px;
    background: #03a9f408;
    padding: 12px;}
.wallet_main .wallet_side1 form input[type=submit]{background: #4fbd4f;
    color: white;
    width: 87px;
    border-radius: 2px;
    border: 2px solid #4fbd4f;
    margin-left: -6px;}
.wallet_main .wallet_history{}


/* order navigator */
.navigator_up {margin: 10px;
    font-size: 11px;
    text-align: center;}
.nav_cont {width: fit-content;
    padding: 5px;
    border-radius: 33px;
    display: inline-block;
    background: #f3f3f3;}
	
	.nav_cont:hover {
		background: #c1c1c1;
	}
 .navigator_up .active {background: #03A9F4 !important;
    color: white !important;
}
.nav_cont i {}
	
	
	#forgot_pass {display:none;}
	/*footer*/
	
	footer {background: black;
    color: white;}
	footer p{margin: 0px;
    padding: 14px;
    text-align: center;
    font-size: 11px;}
    
     .nature_form{
		text-align:left !important;
	}
	
	.extra-css{
		margin:10px;
		padding:5px 10px !important;
		border-radius:20px!important;
		margin-bottom:15px !important;
	}
    
     .visibility{
        padding:10px;
        text-align:justify;
        line-height: 2;
        font-weight: 500;
        background: #00000003;
    }
     .color-picker{
    background: #000000c7;
    color: white;
    padding: 8px 16px;
    width: fit-content;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 7px;
    font-size: 12px !important;
    }
    
        	#about_us p{      
    text-align: justify !important;
    }
	
.link-appointment{
	float: right;
    padding: 10px;
    color: blue;
    /* text-underline-position: right; */
    cursor: pointer;
    margin: -4px 10px;
    font-size: 13px;
}.list-app{
	float: right;
    color: blue;
    cursor: pointer;
    margin: -10px 10px;
    font-size: 13px;
}
   
   .about-us-table {
    font-size: 14px;
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0 5px;
}
.about-us-table .table-row-label {
    text-align: left;
    min-width: 150px;
    vertical-align: top;
    position: relative;
}
.about-us-table .table-row-label .table-row-label-text {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    margin-left: 5px;
}

.Specialities{
 padding-left:10px !important;   
}
#about_us ul li {
	font-size: 12px;
    font-weight: 500;
}

.about-us-table .table-row-label .table-row-label-separator {
    position: absolute;
    right: 0;
	
}
.about-us-table{
	font-size: 12px !important;
    font-weight: 500;
}

.document{
 padding-left:10px !important;   
}
    .document-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    border: 2px solid #555555;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #555555;
	margin-left:8px;
}

.document-wrapper .pdf-icon {
    padding: 12px;
    padding-right: 5px;
    font-size: 18px;
}
.document-wrapper .pdf-number {
    padding: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.document-wrapper .download-icon {
    font-size: 18px;
    padding: 12px;
    border-left: 2px solid #555555;
    color: #0085C4;
}

	